1.number to be changed throughout the site to 03702987399
2.the api end point for category image upload system is not working, the image is beinguploaded but not being updated.
3.lets hide the complete section of blog from main page if no blog is present
4.lets remove addres from site completely 
5.remove this part Contact: zauperfumes@gmail.com | Support: support@zauperfumes.com.pk from footer
6.lets comment out the Join Our Rosia Circle
Be the first to discover new fragrances, exclusive offers, and insider stories from the world of luxury perfumery. Join our community of scent enthusiasts.

Email address for newsletter subscription
Enter your email address
Subscribe
We respect your privacy. Unsubscribe at any time. section for newUserRegistration
